/*region debug*/

.debug.more-operations {
    height: 400px;
    background-color: coral;
}


.debug.company {
    height: 300px;
    background-color: cornflowerblue;
}



.debug.more-links {
    height: 200px;
    background-color: blue;
}

.debug.language {
    height: 80px;
    background-color: blueviolet;
}

/*region utility*/
:root {
    --drop-primary: #b5d1e7;
    --drop-light: #fffefe;
    --drop-danger: #61092a;
    --drop-accent: #0061ff;
    --drop-dark: #010100;
}

/*region common*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.link-partner,
.link-try {
    text-decoration: none;
    margin: 10px;
    color: black;
}


.col-4{
    width: calc((100% / 12) *4);
    
}


/* region header*/

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px
}

.logo {
    padding: 15px;
}

.list-row {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 15px;
    font-size: 13px;
}

.list-menu {
    list-style: none;
}

.link-menu {
    text-decoration: none;
    color: black;
}

.start {
    background-color: var(--drop-accent);
    border: 0px;
    padding: 6px;
    margin-right: 5px;
}

.container-l {
    width: 80%;
    max-width: 1600px;
    margin: auto;
    box-sizing: border-box;
}

.container-m {
    width: 60%;
    max-width: 1400px;
    margin: auto;
    box-sizing: border-box;
}

.link-menu-start {
    text-decoration: none;
    color: white;
    margin: 6px;
}

/*end region header*/

/*region main*/
.jumbotron {
    background-color: var(--drop-primary);
    height: 630px;
}

h1 {
    font-size: 60px;
    padding: 70px;
}

.container-flex {
    display: flex;
    flex-direction: row;
    gap: 10px;
    box-sizing: border-box;
}

.free-trial {
    flex-grow: 1;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.trial {
    background-color: var(--drop-accent);
    color: white;
    padding: 10px;
    border: none;
}

.jumbo-row {
    font-size: 35px;
}

.imagine-g2 {
    flex-grow: 2;
    box-sizing: border-box;
}

.img-jumbo {
    display: block;
    width: 680px;
}

/*end region jumbotron*/

.find-plans {
    padding-top: 100px;
    margin-left: -20px;
}

.list-type-bill {
    list-style: none;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 35px;
}
/*end region find-plans*/

.card-plans{
    display: flex;
    flex-direction: row;
    gap:20px;
    margin-top: 40px;
    margin-left: -20px;
    margin-bottom: 70px;
}

.card{
    width: 251px;
    
    box-sizing: border-box;
    border: 1px solid black;
}

.type-client{  
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 7px;
    border-bottom: 1px solid black;
}
/*end region type-client*/

.description-plan{
    padding: 15px;
}

.feature{
    list-style: none;
    padding-top: 30px;
    padding-bottom:30px;
}

.feature-style{
    padding: 5px;
    display:flex;
    justify-content: row;
    align-items: flex-start;
    gap:5px;
}

.try-card{
    background-color: var(--drop-accent);
    padding:8px;
    padding-left: 35px;
    padding-right: 35px;
    border: 0px;
    margin-bottom: 15px;
}

.linkcard{
    text-decoration: none;
    color: var(--drop-light);
}
    
.card-line{
    width: 60px;
    margin-top:30px;
    margin-bottom:30px;
}

.fa-check{
    color: var(--drop-accent);
}

/*end region description plans*/




/*end region bussines-plans*/



.img-hallway {
    display: block;
    width: 500px;
    padding: 2px;
}

.partner {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
}

.find-partner {
    padding: 5px;
    width: 150px;
    background-color: var(--drop-light);
    border-width: 1px;
}



/*end region enter-in-contact*/

/*end region more-operation*/

.mile-flex {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-clients {
    font-size: x-small;
}

/*end region mile-team*/

/*end region company*/

.try-it {
    background-color: var(--drop-primary);
}

.try-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.take {
    color: var(--drop-danger)
}

.button-try {
    padding: 5px;
    width: 200px;
    background-color: var(--drop-light);
    border-width: 1px
}

/*end region try-it*/


.faq-flex {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.faq-angle {
    margin-left: 250px
}

.question {
    font-size: 10px;
}

/*region faq*/

/*region footer*/

.more-flex {
    padding: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.more-links {
    background-color: var(--drop-dark);
}

.list-more {
    color: var(--drop-light);
    font-size: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.list-more :first-child {
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 10px;
}

/*end region more links*/

.language {
    background-color: var(--drop-dark);
}

.lang-selector {
    color: var(--drop-light);
    font-size: 8px;
    padding-left: 70px;
    padding-bottom: 50px;
}